body {
    display: grid;
    place-items: center;
    background-color: black;
    margin: 0;
    padding: 10px;
    font-family: cursive;
}

img {
    width: 100%;
    margin: 0 auto;
    border-radius: 8px;
}

h1 {
    font-size: 18px;
    color: white;
    text-align: center;
}

h2 {
    font-size: 16px;
    text-align: center;
}

div {
    margin-top: 20px;
}

.container {
    width: 100%;
    max-width: 300px;
    color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 0px 9px 0px white;
    margin-bottom: 20px;
}

button {
    cursor: pointer;
    font-size: 20px;
    margin: 5px 10px 5px 0;
    border-radius: 3px;
    color: rgba(187, 199, 21, 0.664);
}

#disponible {
    background-color: green;
    border-style: none;
}

#pendiente {
    background-color: yellow;
    border-style: none;
}

#vendido {
    background-color: red;
    border-style: none;
}

.enviar-precio {
    font-size: 14px;
    color: black;
    margin-top: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.fecha-vendido {
    font-size: 10px;
    text-align: center;
}

/* Overlay styles */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#overlay img {
    height: 90%;
    width: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.expandable-image {
    cursor: pointer;
}

.container img.expanded {
    width: auto;
    height: 90%;
    position: fixed;
    z-index: 1000;
}

/* Button styles for group toggling */
#toggleRojo, #toggleVerde, #toggleAmarillo {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}

#toggleRojo {
    background-color: rgba(255, 0, 0, 0.301);
}

#toggleVerde {
    background-color: rgba(0, 128, 0, 0.253);
}

#toggleAmarillo {
    background-color: rgba(255, 255, 0, 0.315);
}
