body{
    display: grid;
    place-items: center;
    background-color: black;
    margin-top: 30px;
    font-family: cursive;
}

img{
    width: 80%;
    margin-left: 10%;
    border-radius: 8px;
}

h1{
    font-size: 21px;
    color: white;
}

h2{
    font-size: 18px;
}

div{
    margin-top: 20px;
}

.container {
    width: 200px;
    color: aliceblue;
    padding: 20px 20px 20px 20px;
    border-radius: 10px ;
    box-shadow: 1px 0px 9px 0px white;
}

button{
    cursor: pointer;
    font-size: 30px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 3px;
    color: rgba(187, 199, 21, 0.664);
}

#disponible{
    background-color: green;
    border-style: none;
}
#pendiente{
    background-color: yellow;
    border-style: none;
}
#vendido{
    background-color: red;
    border-style: none;
}

.enviar-precio{
    font-size: 15px;
    color: black;
}

.fecha-vendido{
    font-size: 7px;
}

/* Add these styles to your CSS file */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#overlay img {
    height: 90%; /* Set height to 90% */
    width: auto; /* Width adjusts automatically */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.expandable-image {
    cursor: pointer;
}

.container img.expanded {
    width: auto;
    height: 90%;
    position: fixed;
    z-index: 1000;
}


#toggleRojo{
    background-color: rgba(255, 0, 0, 0.301);
    padding: 10px 40px;
    border-radius: 6px;
    cursor: pointer;
}

#toggleVerde{
    background-color: rgba(0, 128, 0, 0.253);
    padding: 10px 40px;
    border-radius: 6px;
    cursor: pointer;
}

#toggleAmarillo{
    background-color: rgba(255, 255, 0, 0.315);
    padding: 10px 40px;
    border-radius: 6px;
    cursor: pointer;
}